.buttonBlue{
    background: #2166A6;
    color: white;
}

.jokeItem{
    color: black;
    padding: 10px;
    font-size: 1.2rem;
}

.setup{
    text-align: left;
}

.punchline{
    text-align: right;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}