.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CFD6D3;
    padding-bottom: 20px;
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}

.docs{
    text-decoration: underline;
    color: #2166A6;
}

.buttonGreen{
    background-color: #6CC65B;
    color: white;
}