.loading{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.error{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #C73235;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}